* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #1f1f1f;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#appContainer {
  background-color: #0f0f0f;
  width: 30%;
  height: 750px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 12px;
}

.taskCard {
  width: 95%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background-color: #2f2f2f;
}
