html{
    scroll-snap-type: y mandatory;
    transition: ease-in 1s;
}

body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    max-width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    scroll-snap-align: start;
    display: flex;
    transition: ease-in .25s;
}

section:nth-child(1){
    background-color: aqua;
}

section:nth-child(2){
    background-color: blueviolet;
    color: white;
}

section:nth-child(3){
    background-color: brown;
    color: white;
}

section:nth-child(4){
    background-color: chocolate;
    
}